body{
color:  rgb(255, 223, 223)
    

}

hr {
    height: 2px;
    border: none;
    background-color: rgb(255, 223, 223)
}
body {
    background-image: url(https://cdn.wallpapersafari.com/58/25/j9Zye2.jpg)
}